<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let name of nutrientNames"><div><div>{{name}}</div></div></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of recipe">
      <td style="display:flex; flex-wrap: nowrap; gap:0.2em;">
        <input type="number" min="0" [(ngModel)]="item.amount" (ngModelChange)="update()" style="width: 6ch">
        <span style="width: 2.5ex">{{item.food?.unit}}</span>
        <food-selector style="flex-grow: 1;" [(value)]="item.food" (valueChange)="update()"></food-selector>
      </td>
      <td class="number" *ngFor="let n of item.nutrients; index as i">{{n | nice:totalNutrients[i]}}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td class="number" *ngFor="let n of totalNutrients">{{n | nice}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td style="padding-top: 1em; vertical-align: top;">verglichen mit dem empfohlenen Bedarf über <input type="number" [(ngModel)]="days" style="width: 5ch"> Tage</td>
      <td *ngFor="let name of nutrientNames; index as i" style="vertical-align: top;">
        <coverage-indicator [report]="bedarf.coverageReport(totalNutrients[i] / days, name)"></coverage-indicator>
      </td>
    </tr>
  </tfoot>
</table>

