<table>
  <thead>
    <tr>
      <th style="display:flex; flex-wrap: nowrap; gap:0.2em; align-items: flex-end;">
        <input style="width: 6ch" type="number" min="0" [(ngModel)]="recipe.amount" (ngModelChange)="update()">
        <input style="width: 4ex; box-sizing: border-box;" [(ngModel)]="recipe.unit" (ngModelChange)="update()">
        <input style="flex-grow: 1" [(ngModel)]="recipe.name" (ngModelChange)="update()">
      </th>
      @for (name of nutrientNames; track name) {
        <th><div><div>{{name}}</div></div></th>
      }
      <th><div><div></div></div></th>
    </tr>
  </thead>
  <tbody>
    @for (item of recipe.ingredients; track $index) {
      <tr>
        <td style="display:flex; flex-wrap: nowrap; gap:0.2em;">
          <input type="number" min="0" [(ngModel)]="item.amount" (ngModelChange)="update()" style="width: 6ch">
          <span style="width: 4ex">{{item.food?.unit}}</span>
          <food-selector style="flex-grow: 1;" [(value)]="item.food" (valueChange)="update()"></food-selector>
        </td>
        @for (n of item.nutrients; track $index) {
          <td class="number">{{n | nice:recipe.nutrients[$index]}}</td>
        }
      </tr>
    }
    <tr>
      <td>Total</td>
      @for (n of recipe.nutrients; track $index) {
        <td class="number">{{n | nice}}</td>
      }
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td style="padding-top: 1em; vertical-align: top;">verglichen mit dem empfohlenen Bedarf über <input type="number" min="0" [(ngModel)]="days" style="width: 5ch"> Tage</td>
      @for (name of nutrientNames; track $index) {
        <td style="vertical-align: top;">
          <coverage-indicator [report]="bedarf.coverageReport(recipe.nutrients[$index] / days, name)"></coverage-indicator>
        </td>  
      }
    </tr>
  </tfoot>
</table>