<table>
  <thead>
    <tr>
      <th style="display:flex; flex-wrap: nowrap; gap:0.2em; align-items: flex-end;">
        <input style="width: 6ch" type="number" min="0" [(ngModel)]="recipe.amount" (ngModelChange)="update()">
        <input style="width: 4ex; box-sizing: border-box;" [(ngModel)]="recipe.unit" (ngModelChange)="update()">
        <input style="flex-grow: 1" [(ngModel)]="recipe.name" (ngModelChange)="update()">
      </th>
      @for (name of nutrientNames; track name) {
        <th><div><div>{{name}}</div></div></th>
      }
      <th><div><div></div></div></th>
    </tr>
  </thead>
  <tbody>
    @for (item of recipe.ingredients; track $index) {
      <tr>
        <th style="display:flex; flex-wrap: nowrap; gap:0.2em;">
          <input type="number" min="0" [(ngModel)]="item.amount" (ngModelChange)="update()" style="width: 6ch">
          <span style="width: 4ex">{{item.food?.unit}}</span>
          <food-selector style="flex-grow: 1;" [(value)]="item.food" (valueChange)="update()"></food-selector>
        </th>
        @for (n of item.nutrients; track $index) {
          <td class="number">{{n | nice:largestValue[$index]}}</td>
        }
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      @for (n of recipe.nutrients; track $index) {
        <td class="number">{{n | nice:largestValue[$index]}}</td>
      }
    </tr>
    <tr>
      <th>Bedarf für <input type="number" min="0" [(ngModel)]="days" (ngModelChange)="update()" style="width: 5ch"> Tage</th>
      @for (n of nutrientNames; track $index) {
        <td class="number">{{needs[$index].min | nice:largestValue[$index]}}</td>
      }
    </tr>
    <tr>
      <th>Empfohlene Maximalmenge</th>
      @for (n of nutrientNames; track $index) {
        <td class="number">{{needs[$index].max | nice:largestValue[$index]}}</td>
      }
    </tr>
    <tr>
      <th></th>
      @for (name of nutrientNames; track $index) {
        <td style="vertical-align: top; padding-top: 0">
          <coverage-indicator [available]="recipe.nutrients[$index]" [needed]="needs[$index]"/>
        </td>  
      }
    </tr>
  </tfoot>
</table>