table {
	border-spacing: 0;
}

th {
	font-family: sans-serif;
	height: 13em; /** we must specify a size because the bounding box is unaware of CSS transforms */
	min-width: 2em; 
	position: relative;
	border-bottom: 1px solid black;
}

th > div {
	position: absolute;
	left: 0;
	bottom: 0;
}

th > div > div {
	position: absolute;
	transform-origin: 0 0; /* top left */
	transform: rotate(-45deg);
	padding-left: 1.4em;
	padding-top: 0.2em;
	width: 21em;
	border-top: 1px solid black;
	text-align: left;
	white-space: nowrap; /* there is ample space, no need to squeze */
}

th:first-child {
	padding: 0.1em 0.2em;
}

th > input {
	font-weight: inherit;
}

td {
	text-align: right;
	padding: 0.1em 0.2em;
}

td:first-child {
	text-align: left;
}

td.number {
	border-left: 1px solid black;
}

tfoot > tr > td {
	border-top: 1px solid black;
}