input {
	width: 15em;
}
div.optionContainer {
	position: relative;
	z-index: 1;
}
div.options {
	position: absolute;
	border: solid gray 1px;
	border-top: none;
}
button {
	display: block;
	width: 100%;
	text-align: left;
	border: none;
}
button:active {
	background: lightgray;
}